.pessoa__imagem {
    background: lightslategray;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    height: 300px;
    margin: 0 auto;
    width: 300px;
}

.pessoa__imagem--roberta {
    background-image: url("../../img/pessoas/roberta.jpg");
}

.pessoa__imagem--marcela {
    background-image: url("../../img/pessoas/marcela.jpg");
}

.pessoa__imagem--andreia {
    background-image: url("../../img/pessoas/andreia.jpg");
}

@media screen and (min-width: 0) {
    .pessoa__imagem {
        height: 200px;
        width: 200px;
    }
}

@media screen and (min-width: 1024px) {
    .pessoa__imagem {
        height: 300px;
        width: 300px;
    }
}