.app {
    background: #f1f1f1;
    display: grid;  
    font-family: Arial, Helvetica, sans-serif;
    grid-template-areas:
        "cabecalho"
        "principal"
        "rodape";
    grid-template-columns: auto;
    grid-template-rows: 50px auto auto;
}

.cabecalho {
    display: flex;
    align-items: center;
    grid-area: cabecalho;
    padding: 0.5em;
}
 
.principal {
    grid-area: principal;
    padding: 0 0.5em 0 0.5em;
}

.rodape {
    background: whitesmoke;
    color: darkslategray;
    font-size: 0.8em;
    padding: 0.5em;
    text-align: center;
    grid-area: rodape;
}